<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h3 id="chronotime">0:00:00:00</h3>
        <form name="chronoForm">
            <input type="button" name="startstop" value="start!" id="start" onClick="chronoStart()" />

        </form>
      <div class="padded-2em">
        <h3>
          Let's play with your brain!
          <div class="pull-right">
            Score: <span id="score">0</span>/24
          </div>
        </h3>
      </div>
      <div class="card-container">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="card card-shown" style="display: none">
              <h1><%= @sequence[0] %></h1>
            </div>
            <div class="card card-hidden" style="display: none">
              <h1></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="flex-container hidden">
              <div class="flex-item">
                <i class="fa fa-check fa-5x green answer action"></i>
              </div>
              <div class="flex-item">
                <i class="fa fa-times fa-5x red answer action"></i>
              </div>
            </div>
            <div id="play" class='text-center action card card-border'>
              <i class="fa fa-play fa-5x blue"></i>
            </div>
          </div>
        </div>
      </div>
      <div id="endOfGame" class='hidden text-center padded-5em'>
        <h1>Game is over</h1>
        <%= simple_form_for @game do |f| %>
          <%= f.hidden_field :score, value: 0 %>
          <%= f.hidden_field :chrono %>
          <%= f.submit "See your results", class: "btn btn-primary", id: "endOfGameSubmit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
 <script>
      $(document).ready(function() {
        var score = 0
        var tour = 1
        var seq = <%= @sequence %>
        var cardNow = $('.card-shown > h1').text();
        var cardBefore = ""
        $('#play').on('click', function() {
          $(this).toggleClass('hidden');
          $('.card-shown').show().fadeOut(1000);
          cardBefore = cardNow
          cardNow = seq[tour].toString();
          $('.card-hidden > h1').text(cardNow);
          setTimeout(function() {
            $('.card-hidden').fadeIn(1500);
            $('.flex-container').toggleClass('hidden');
          }, 1000);
        });
        $('.answer').on('click', function() {
          // increment tour
          tour += 1
          // check if cardNow == cardBefore
          if(cardNow == cardBefore && $(this).hasClass("fa-check")) {
            score += 1
            $('#score').text(score);
          }
          else if(cardNow != cardBefore && $(this).hasClass("fa-times") ){
            score += 1
            $('#score').text(score);
          }
          // change cardNow
          cardBefore =  cardNow;
          if(tour < seq.length) {
            cardNow = seq[tour].toString();
            if(tour % 2 == 0) {
              $('.card-hidden').fadeOut(500);
              $('.card-shown > h1').text(cardNow);
              $('.card-shown').delay(500).fadeIn(500);
            }
            else {
              $('.card-shown').fadeOut(500);
              $('.card-hidden > h1').text(cardNow);
              $('.card-hidden').delay(500).fadeIn(500);
            }
          }
          else {
            $('.card-container').toggleClass('hidden');
            $('#endOfGame').toggleClass('hidden');
            $('#start').click();
          }
        });
        $('#endOfGameSubmit').on('click', function(e) {
          e.preventDefault();
          var score = $('#score').text();
          var chrono = $("#chronotime").html();
          $('#game_score').val(score);
          $('#game_chrono').val(chrono)
          $('#endOfGame > form').submit();
        });

        $("#play").on("click", function(){
          $("#start").click();
        })
      });
 </script>
<% end %>
